#app{
  border:1px solid black;
  display:flex;
}

h1{
  padding-left:2%;
}

#nav-bar{
flex-direction:column;
border:1px solid red;
height:100%;
width:20%;
}

ul{
  list-style:none;
  margin:auto;
  padding:0;
}