#app {
  border: 1px solid blue;
}

#nav-bar {
  border: 1px solid #220C10;
  height: 20%;
  font-family: "Stack Sans Headline", sans-serif;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items:center;
  padding:1%;
  background-color:#2C1A1D;
} 

#logo {
  width: auto;
  color:#DBB3B1;
  font-family: "Great Vibes", cursive;

}

#body {
  padding-left: 10%;
}
#list-quotes {
  height: auto;
  width: auto;
}

.quote {
  border: 1px solid green;
  padding: 1%;
  text-align: center;
}
.quote > button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tag {
  font-style: italic;
}

.link{
color:#A67F8E;
text-decoration:none;
transition:color 1s;
}

.link:hover{
  color:#C89FA3;
}