#app{
  border:1px solid blue;
}

#nav-bar{
border:1px solid red;
width:100%;
height:20%;
}

ul{
  list-style:none;
  display:flex;
  justify-content:space-around;
}

#body{
  padding-left:10%;
}
#list-quotes{
  height:auto;
  width:auto;
}

.quote{
  border:1px solid green;
  padding:1%;
  text-align:center;
}
.quote > button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tag{
  font-style: italic;
}