#app {
  border: 1px solid blue;
  padding-bottom:10%;
  background-color: #3F4045;
  color:#FCFCFC;
  font-family: "Cormorant Garamond", serif;
}

#nav-bar {
  border-bottom: 1px solid #220C10;
  height: 20%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items:center;
  padding:.5%;
  background-color:#02111B;
  font-family: "Cormorant Garamond", serif;
  opacity:90%;

} 

#logo {
  width: auto;
  color:#3F4045;

}

#body {
  padding-left: 10%;
}
#list-quotes {
  height: auto;
  width: auto;
} 

.quote {
  border-bottom: 2px solid #220C10;
  padding: 1%;
  text-align: center;
  color:#C5C5C5;
}
.quote > button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tag {
  font-style: italic;
}

.link{
color:#FCFCFC;
text-decoration:none;
transition:color .5s;
font-size:16pt;
}

.link:hover{
  color:#C5C5C5;
}

#home{
  display:flex;
  flex-direction:column;
  padding-left:6%;
  padding-right:6%;
}

h1{
  text-align: center;
}
#page-nav{
  display: flex;
  justify-content: center;
  border:1px solid white;
  align-items:center;
  flex-direction:column;
  
}
#page-nav > button {
  
  margin:1%;
}